{% extends "core/base_public.html" %}
{% load static %}
{% block content %}
<div style="display: flex; justify-content: center; align-items: center; height: 80vh;">
    <div class="card" style="width: 400px; padding: 40px; text-align: center; background: #22222D;">
        <h2 style="color: #fff; margin-bottom: 20px;">Nova Senha 🔒</h2>
        
        <form method="POST">
            {% csrf_token %}
            
            <div style="text-align: left; color: #a0a0a0; margin-bottom: 20px;">
                {{ form.as_p }}
            </div>

            <button type="submit" style="width: 100%; padding: 10px; background: #9D4EDD; color: #fff; border: none; border-radius: 5px; font-weight: bold; cursor: pointer;">
                Alterar Senha
            </button>
        </form>
    </div>
</div>
{% endblock %}